<div class="container">
    <div class="input-container d-flex align-items-center mb-3">
      <label for="pageIdInput" class="me-2">Enter Page ID:</label>
      <input type="text" id="pageIdInput" [(ngModel)]="pageId" placeholder="Enter Page ID" class="form-control me-2">
      <button class="btn btn-primary" (click)="fetchInlineComments()">Fetch Comments</button>
    </div>
  
    <div class="loading" *ngIf="isLoading">
      Loading inline comments...
    </div>
  
    <div class="row row-cols-1 row-cols-md-3 g-4" *ngIf="inlineComments.length > 0">
      <div *ngFor="let comment of inlineComments" class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ comment.title }}</h5>
            <p class="card-text"><strong>ID:</strong> {{ comment.id }}</p>
            <p class="card-text"><strong>Status:</strong> {{ comment.status }}</p>
            <p class="card-text"><strong>Page ID:</strong> {{ comment.pageId }}</p>
            <p class="card-text"><strong>Resolution Status:</strong> {{ comment.resolutionStatus }}</p>
            <p class="card-text"><strong>Created At:</strong> {{ comment.version.createdAt | date }}</p>
            <p class="card-text"><strong>Author ID:</strong> {{ comment.version.authorId }}</p>
            <p class="card-text"><strong>Comment:</strong> {{ comment.properties['inline-original-selection'] }}</p>
            <a class="btn btn-primary" href="{{ comment._links.webui }}" target="_blank">View in Confluence</a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="no-comments" *ngIf="inlineComments.length === 0 && !isLoading">
      No inline comments available.
    </div>
  </div>
  