  <app-navbar></app-navbar>

<div class="d-flex">
  <div class="sidebar col-md-2" >
    <app-sidenav></app-sidenav>
  </div>
  
  <div class="content " >
    <div class="container mt-2">
      <h2>Issue Actions</h2>
      <div class="row">
        <!-- Card for Create Issue -->
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Create Issue</h5>
              <p class="card-text">Create a new issue.</p>
              <button class="btn btn-primary" (click)="navigateTo('createIssue')">Create</button>
            </div>
          </div>
        </div>
    
        <!-- Card for Read Issue -->
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Read Issue</h5>
              <p class="card-text">Read details of an existing issue.</p>
              <button class="btn btn-primary" (click)="navigateTo('readIssue')">Read</button>
            </div>
          </div>
        </div>
    
        <!-- Card for Update Issue -->
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Update Issue</h5>
              <p class="card-text">Update an existing issue.</p>
              <button class="btn btn-primary" (click)="navigateTo('updateIssue')">Update</button>
            </div>
          </div>
        </div>
    
        <!-- Card for Delete Issue -->
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Delete Issue</h5>
              <p class="card-text">Delete an existing issue.</p>
              <button class="btn btn-primary" (click)="navigateTo('deleteIssue')">Delete</button>
            </div>
          </div>
        </div>
    
        <!-- Card for Assign Issue -->
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Search Issue</h5>
              <p class="card-text">Search an issue of a user.</p>
              <button class="btn btn-primary" (click)="navigateTo('assignIssue')">Assign</button>
            </div>
          </div>
        </div>
    
        <!-- Card for Transition Issue -->
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Transition Issue</h5>
              <p class="card-text">Transition an issue to a different status.</p>
              <button class="btn btn-primary" (click)="navigateTo('transitionIssue')">Transition</button>
            </div>
          </div>
        </div>
    
        <!-- Card for Send Notification -->
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Read Project </h5>
              <p class="card-text">Get all the projects available</p>
              <button class="btn btn-primary" (click)="navigateTo('getProject')">Send Notification</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Create Project</h5>
              <p class="card-text">Create a project</p>
              <button class="btn btn-primary" (click)="navigateTo('createProject')">Create Project</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Update Project</h5>
              <p class="card-text">Update the project details.</p>
              <button class="btn btn-primary" (click)="navigateTo('updateProject')">Update Project</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Delete Project</h5>
              <p class="card-text">Delete the project</p>
              <button class="btn btn-primary" (click)="navigateTo('deleteProject')">Delete Project</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Get Issue Count</h5>
              <p class="card-text">Get the number of issues available</p>
              <button class="btn btn-primary" (click)="navigateTo('getIssuesCount')">Get Issue Count</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Get Project details</h5>
              <p class="card-text">Retrieve available project details.</p>
              <button class="btn btn-primary" (click)="navigateTo('get-transitions')">Get Project details</button>
            </div>
          </div>
        </div>
        <!-- Card for Get Transitions -->
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Get Transitions</h5>
              <p class="card-text">Retrieve available transitions for an issue.</p>
              <button class="btn btn-primary" (click)="navigateTo('getTransitions')">Get Transitions</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
</div>