    <head>    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    </head>

    <div class="sidebar" [class.open]="isSidebarOpen">
      <div class="logo-details">
        <i class='bx bxs-bot icon'></i>
        <div class="logo_name">IPM</div>
      </div>
      <ul class="nav-list">
        <li><a href="issues"><i class='bx bx-grid-alt'></i><span class="links_name">Issues</span></a><span class="tooltip">Issues</span></li>
        <li><a href="#"><i class='bx bx-user'></i><span class="links_name">User</span></a><span class="tooltip">User</span></li>
        <li><a href="confluence"><i class='bx bx-chat'></i><span class="links_name">Confluence</span></a><span class="tooltip">Confluence</span></li>
        <li><a href="#"><i class='bx bx-pie-chart-alt-2'></i><span class="links_name">Project</span></a><span class="tooltip">Project</span></li>
        <li><a href="analytics"><i class='bx bx-folder'></i><span class="links_name">Analytics</span></a><span class="tooltip">Analytics</span></li>
        <li><a href="#"><i class='bx bx-cart-alt'></i><span class="links_name">Bit bucket</span></a><span class="tooltip">Bit bucket</span></li>
        <li><a href="#"><i class='bx bx-heart'></i><span class="links_name">Saved</span></a><span class="tooltip">Saved</span></li>
        <li><a href="#"><i class='bx bx-cog'></i><span class="links_name">Settings</span></a><span class="tooltip">Settings</span></li>
        <li class="profile">
          <div class="profile-details">
            <div class="name_job">
              <div class="name">Lavanya Pidikiti</div>
              <div class="job">Scrum Master</div>
            </div>
          </div>
          <i class='bx bx-log-out' id="log_out"></i>
        </li>
      </ul>
    </div>
    

