    
      <app-navbar></app-navbar>

      <div class="d-flex">
        <div class="sidebar col-md-2" >
          <app-sidenav></app-sidenav>
        </div>
        
        <div class="content col-md-12" >
          
            <br>
            <h4>Record the minutes of the meeting</h4>
            <p>Please upload the meeting file here</p>
            <app-file-upload (fileSelected)="onFileSelected($event)"></app-file-upload>
            <app-audio-track [audioSrc]="audioUrl"></app-audio-track>
            <div *ngIf="meetingMinutes">
              <h2>Meeting Minutes</h2>
              <div [innerHTML]="meetingMinutes"></div>
            </div>
          
        
        </div>
      </div>




  
