<div class="container flex-row mt-2">
    <div class="container d-flex">
        <div class="card mx-auto flex-row" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Reviews</h5>
              <p class="card-text">Current</p>
              <h3>1,231&nbsp;↑</h3>
            </div>
          </div>
          <div class="card mx-auto" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Campaigns</h5>
              <p class="card-text">Current</p>
              <h3>566&nbsp;↑</h3>
            </div>
          </div>
          <div class="card mx-auto" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Users</h5>
              <p class="card-text">Current</p>
              <h3>11,122&nbsp;↑</h3>
            </div>
          </div>
          <div class="card mx-auto" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Downloads</h5>
              <p class="card-text">Current</p>
              <h3>234,122&nbsp;↓</h3>
            </div>
          </div>
    </div>
    <div class="container d-flex mt-4">
        <div class="card mx-auto flex-row" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Alerts</h5>
              <p class="card-text">Last 24 hours</p>
            </div>
          </div>
          <div class="card mx-auto" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Revenue</h5>
              <p class="card-text">Current Month</p>
            </div>
          </div>
          <div class="card mx-auto" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Customers</h5>
              <p class="card-text">Last 6 months</p>
            </div>
          </div>
          <div class="card mx-auto" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Profit</h5>
              <p class="card-text">Last Month</p>
            </div>
          </div>
    </div>
</div>