.hi{
    transition: transform 0.3s ease;
  }

  .hi:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card-body {
    cursor: pointer;
  }
  .custom-header {
    background-color: #11101D !important;
    color: white; /* Set text color to white for contrast */
  }
  